/**
* Filename: style.css
* Developed by: Kevin James G. Stevens
* Last Updated: January 2019
* Purpose: [Stylesheet]
*/

body {
	background: #fff;
	color: #2C3E50;
	font: 400 12px/12px 'Aleo';
}
body p, a, li, span{
	font: 400 17px/120% 'Aleo';
}
body h2 {
	text-align: center;
	font: 700 35px/100% 'Aleo';
	color: #2C3E50;
}
.tr {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.dflex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #2C3E50;
    border-radius: .25rem;
}
 .tooltip .arrow:before {
	border-bottom-color: #2C3E50 !important;
	border-top-color: #2C3E50 !important;
 }
.navigation {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}
.navigation .nav-links{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
.hrclass {
	width: 70px;
    height: 4px;
    margin: 25px auto 90px auto;
    background: orange;
}
.smallhrclass {
	width: 50px;
    height: 4px;
    margin: 10px auto 25px auto;
    background: orange;	
}
.small-heading {
	font: 700 25px/120% 'Aleo';
	text-align: center;
}
@media only screen and (max-width: 768px) {
	.hrclass {
    	margin: 25px auto 50px auto;
	}
}
.full-screen-panel {
	min-height: 100vh;
	padding: 10vh 0 20px 0;
}
.flexed-center {
	display: flex;
	justify-content: center;
	align-items: top;
}
.home-slide {
	background: gray url("images/geometry2.png") repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	-webkit-animation: slide 20s linear infinite;	
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
.home-box {
	margin: 70px 0 0 0;
}
h1.mainh1class{
	text-align: left;
    font-size: 20px;
    height: 45px;
    display: flex;
    align-items: center;
}
h1.mainh1class a{
	color: inherit;
}
.home-box p{
	text-align: center;
	font: 700 40px/120% 'Aleo';
	color: #000;
}
img.home-center-img {
	width: auto;
	height: auto;
	max-width: 150px;
    max-height: 150px;
	border-radius: 100%;
}
#sl-about .about-image {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
}
#sl-about .about-image img{
	margin-bottom: 25px;
}
#sl-about {
	padding-bottom: 0 0 50px 0;
}
#sl-about p.about-foreword{
	margin: 0 0 120px 0;
	font: 400 45px/120% 'Aleo';
	text-align: center;
}
@keyframes slideFromLeft {
  from { 
  	right: 200px;
  	opacity: 0; 
  }
  to { 
  	right: 0px;
  	opacity: 1; 
  }
}
@keyframes slideFromRight {
  from { 
  	left: 200px;
  	opacity: 0; 
  }
  to { 
  	left: 0px;
  	opacity: 1; 
  }
}

#sl-about .about-enclosure{ 
	margin: 50px 0;
}
.techno {
	width: 100%;
	max-width: 888px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center; 
}
.techno .techspec{
	border-radius: 5px;
	margin: 0 15px 25px 15px; 
	height: 100px;
	width: 100px;
	font-size: 40px;
	text-align: center;
    position: relative;
    display: inline-block;
	position: relative;
}
.techno .techspec .hexa{
    background-color: #fff;
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
}
.techno .techspec .hexa i{
	position: absolute;
	top: 29px;
	left: 0;
	right: 0;
	z-index: 2;
}
.techno .techspec .hexa .hexa-img-holder{
	position: absolute;
	z-index: 2;
	top: 29px;		
	left: 0;
	right: 0;
}
.techno .techspec .hexa img{
	height: 40px;
	width: 40px;
}
.techno .techspec .hexa:before{
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	transform: rotateZ(60deg);
	z-index: 1;
}
.techno .techspec .hexa:after{
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	transform: rotateZ(-60deg);
}
.skills {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.skills .skill{
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius: 10px;
	margin: 0px 10px 10px 0;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	position: relative;
}
@media only screen and (max-width: 550px) {
	.skills .skill{
		width: 150px;
		height: 150px;
	}
}
.skills .skill .skill-image {
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .skill .skill-image img{
	width: 80%;
	height: auto;
}
.skills .skill .skill-box {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: absolute;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}
.skills .skill:hover .skill-box {
	opacity: 1;
}
.skills .skill .skill-box .inner{
	background: rgba(255,255,255,0.95);
	border: 2px solid orange;
	width: 90%;
	height: 90%;
	border-radius: 10px;
}
.skills .skill .skill-box .inner span {
	width: 90%;
	margin: 0 auto;
	word-wrap: break-word;
	text-align: center;
	font-weight: 900;
}
.skills .skill .skill-box .inner span:before{
	width: 20px;
    height: 4px;
    margin: 0 auto;
    background: orange;
}
.skills .skill .skill-box .inner span:after{
	width: 20px;
    height: 4px;
    margin: 0 auto;
    background: orange;
}

.orange-bg {
	background: #ffca00;
}
.green-bg {
	background: green;
}
.gray-bg {
	background: gray;
}
.grayish-bg {
	background: #FAFAFA;
}